

// COLORS
$color-primary: #4761df;
$color-primary-light: #f2f6fd;
$color-primary-dark: #373e68;

$color-secondary: #74b2df; // #7db4dd

$color-text: #bdbec3; // #b7b8bd
$color-text-secondary : #888992;
$color-grey: #d6d4ee; // #d4d3eb


$color-pink: #d3529f;
$color-pink-secondary: #e78591;

$color-purple: #aa21ed;

$color-bg: #f7f8fc;
$color-white: #ffffff;
