@import "../assets/scss/main.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: inherit;
  box-sizing: inherit;
  color: $color-text;
}
/* ::selection {
   background:rgba(252, 229, 55, 0.72);
 } */

html {
  ///// MIN WIDTH RULES GOES IN ASCENDING ORDER //////
  @include responsive(1600px) {
    font-size: 93.75%;
  }
  @include responsive(1800px) {
    font-size: 100%;
  }

  font-size: 62.5%;

  @include responsive(350px) {
    font-size: 56.25%;
  }
}

body {
  font-family: "Jost", sans-serif;
  box-sizing: border-box;
  background: $color-bg;
  overflow: hidden;
  @include responsive(700px) {
    overflow: visible;
   }
}

a {
  text-decoration: none;
  color: currentColor;
}

li {
  list-style: none;
}

button,
input,
textarea,
select,
option {
  border: none;
  background-color: inherit;
  cursor: pointer;
  &:active,
  &:focus {
    border: none;
    outline: none;
  }
}

textarea {
  cursor: text;
}

// APP
.app {
  padding: 5rem 13rem 0 10rem;
  display: grid;
  grid-template-columns: 21% 1fr;
  grid-template-rows: 5rem auto;
  gap: 2.5rem;
  @include responsive(1100px) {
    grid-template-columns: 25% 1fr;
    padding: 5rem 10rem 0 6rem;
  }
  @include responsive(1024px) {
    padding: 5rem 8rem 0 4rem;
  }
  @include responsive(900px) {
    padding: 5rem 4rem 0 3rem;
  }
  @include responsive(900px) {
    grid-template-columns: 27% 1fr;
  }
  @include responsive(700px) {
    @include flex-column;
    padding: 5rem 3rem 0;
   }
   @include responsive(500px) {
    padding: 5rem 2rem 0;
   }
   @include responsive(375px) {
    padding: 5rem 1.5rem 0;
   }
}


.nav {
  grid-column: 2/ -1;
  grid-row: 1 / 2;
  background: $color-primary-dark;
  @include flex-between;
  padding: 0 1rem;
  border-radius: 8px;
  @include responsive(700px) {
  width: 100%;
  height: 5rem;
   }

  * {
    color: $color-bg;
  }

  span,
  select {
    font-size: 1.1rem;
    @include responsive(500px) {
      font-size: .9rem;
     }
     @include responsive(400px) {
      font-size: .84rem;
    }
  }

  h2 {
    flex: 0 0 20%;
    margin-left: 2rem;
    font-weight: 600;
    @include responsive(900px) {
      flex: 0 0 25%;
    }
    @include responsive(500px) {
      font-size: 1.1rem;
     }
     @include responsive(400px) {
      margin-left: .5rem;
    }
    @include responsive(320px) {
      font-size: 1rem;
     }
     @include responsive(320px) {
      font-size: .9rem;
     }
  }


  svg {
    fill: $color-white;
    width: 2rem;
    height: 2rem;
  }

  span {
    color: $color-text;
  }
}


.aside {
  grid-column: 1 / 2;
  grid-row: 1 / -1;
  @include responsive(700px) {
   width: 100%;
   }
}

.main {
  grid-column: 2/ -1;
  grid-row: 2 / -1;
  padding-bottom: 4rem;
  height: 80vh;
  overflow-y: scroll;
  @include responsive(700px) {
    height: auto;
    width: 100%;
   }
}
